.aboutus__collapses {
    width: 70%;
    margin: auto;
    @include smartphone {
        width: 90%;
    }
    @include tablet {
        width: 80%;
    }
}

.aboutus__banner {
    @include smartphone {
        height: 223px;
    }
}