header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 400;
    @include smartphone {
        font-size: 12px;
        margin-bottom: 15px;
        width: 90%;
        margin-top: 25px;
        text-transform: uppercase;
    }
}

.header__logo { 
    width: 210px;
    height: 68px;
    @include smartphone {
        width: 105px;
        height: 34px;
    }
}

.header__link {
    margin-left:35px;
    color: $color-primary;
    text-decoration: none;
    &--underlined {
        text-decoration: underline;
    }
    @include smartphone {
        margin-left: 10px;
    }
}

.linkActive {
    text-decoration: underline;
}