* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 400;
}
@media all and (max-width: 768px) {
  header {
    font-size: 12px;
    margin-bottom: 15px;
    width: 90%;
    margin-top: 25px;
    text-transform: uppercase;
  }
}

.header__logo {
  width: 210px;
  height: 68px;
}
@media all and (max-width: 768px) {
  .header__logo {
    width: 105px;
    height: 34px;
  }
}

.header__link {
  margin-left: 35px;
  color: #FF6060;
  text-decoration: none;
}
.header__link--underlined {
  text-decoration: underline;
}
@media all and (max-width: 768px) {
  .header__link {
    margin-left: 10px;
  }
}

.linkActive {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 50px;
  margin-top: 50px;
}
@media all and (max-width: 768px) {
  footer {
    margin-top: 0px;
  }
}

.footer__text {
  padding-top: 20px;
  padding-bottom: 10px;
}
@media all and (max-width: 768px) {
  .footer__text {
    font-size: 12px;
  }
}

.banner {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
@media all and (max-width: 768px) {
  .banner {
    margin-bottom: 20px;
    padding-bottom: 0px;
    width: 90%;
  }
}
.banner__image {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  filter: brightness(50%);
}
@media all and (max-width: 768px) {
  .banner__image {
    height: 110px;
    filter: brightness(60%);
  }
}
.banner__text {
  position: absolute;
  left: 20.9%;
  right: 22.14%;
  top: 30.32%;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
@media all and (max-width: 768px) {
  .banner__text {
    font-size: 24px;
    position: absolute;
    left: 9.6%;
    top: 24.04%;
    right: auto;
    text-align: left;
    padding-right: 15%;
    padding-bottom: 15px;
  }
}

.card {
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}
@media all and (max-width: 768px) {
  .card {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 255px;
    overflow: hidden;
  }
}
.card__image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.card__image img {
  border-radius: 10px;
  object-fit: contain;
}
.card__title {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  bottom: 0px;
  color: white;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}
@media all and (max-width: 768px) {
  .card__title {
    text-align: left;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.collapse__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: #FFFFFF;
  padding-left: 10px;
  border-radius: 5px;
}
.collapse__header__icon {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-right: 10px;
}
.collapse__header__icon:hover {
  cursor: pointer;
}
.collapse__description {
  color: #FF6060;
  background-color: #F6F6F6;
  padding: 25px 10px 10px 10px;
  border-radius: 5px;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  margin: auto;
  margin-bottom: 30px;
}
@media all and (max-width: 768px) {
  .slideshow {
    height: 230px;
  }
}
.slideshow__image {
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}
@media all and (max-width: 768px) {
  .slideshow__image {
    height: 230px;
  }
}
.slideshow__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.slideshow__arrowsLeft {
  position: absolute;
  height: 79px;
  left: 10px;
}
@media all and (max-width: 768px) {
  .slideshow__arrowsLeft {
    height: 20px;
  }
}
.slideshow__arrowsLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow__arrowsRight {
  position: absolute;
  height: 79px;
  right: 10px;
}
@media all and (max-width: 768px) {
  .slideshow__arrowsRight {
    height: 20px;
  }
}
.slideshow__arrowsRight img {
  height: 79px;
  object-fit: cover;
}
@media all and (max-width: 768px) {
  .slideshow__arrowsRight img {
    height: 20px;
  }
}
.slideshow__bulletpoint {
  position: absolute;
  left: 49%;
  font-size: 18px;
  bottom: 5px;
  color: white;
}

.arrow {
  top: 40%;
}
.arrow:hover {
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .arrow {
    top: 45%;
  }
}
.arrow__img {
  height: 20px;
  object-fit: cover;
}
@media all and (max-width: 768px) {
  .arrow__img {
    height: 20px;
  }
}

.home__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
  border-radius: 25px;
}
@media all and (max-width: 768px) {
  .home__cards {
    width: 90%;
    margin: auto;
    padding-top: 0px;
    margin-top: 0px;
    background-color: white;
    padding-bottom: 15px;
    overflow: hidden;
  }
}
@media all and (max-width: 768px) {
  .home__cards a {
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    border-radius: 25px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  margin-bottom: 50px;
  padding: 20px;
}
.error__404 {
  font-weight: 700;
  font-size: 288px;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
@media all and (max-width: 768px) {
  .error__404 {
    font-size: 96px;
    padding-top: 150px;
    padding-bottom: 10px;
  }
}
.error__text {
  width: 95%;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 20px;
  padding-bottom: 100px;
  text-align: center;
}
@media all and (max-width: 768px) {
  .error__text {
    font-size: 18px;
  }
}
.error__backHome {
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
}

.aboutus__collapses {
  width: 70%;
  margin: auto;
}
@media all and (max-width: 768px) {
  .aboutus__collapses {
    width: 90%;
  }
}

@media all and (max-width: 768px) {
  .aboutus__banner {
    height: 223px;
  }
}

.lodging {
  width: 80%;
  margin: auto;
}
@media all and (max-width: 768px) {
  .lodging {
    width: 90%;
    margin: auto;
  }
}
.lodging__informations {
  display: flex;
  height: 180px;
  justify-content: space-between;
  align-items: stretch;
  color: #FF6060;
  padding-bottom: 20px;
}
@media all and (max-width: 768px) {
  .lodging__informations {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.lodging__informations__lodging {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.lodging__informations__lodging__title {
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 15px;
  margin-right: 20px;
}
.lodging__informations__lodging__location {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
}
.lodging__informations__lodging__tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
@media all and (max-width: 768px) {
  .lodging__informations__lodging__tags {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}
.lodging__informations__lodging__tags__tag {
  background-color: #FF6060;
  list-style: none;
  color: white;
  padding: 3px 20px 3px 20px;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 14px;
}
@media all and (max-width: 768px) {
  .lodging__informations__lodging__tags__tag {
    margin-bottom: 10px;
  }
}
.lodging__informations__hostAndRate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .lodging__informations__hostAndRate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}
.lodging__informations__hostAndRate__host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media all and (max-width: 768px) {
  .lodging__informations__hostAndRate__host {
    justify-content: flex-end;
    width: 20%;
  }
}
.lodging__informations__hostAndRate__host__name {
  font-size: 18px;
  padding-right: 10px;
}
.lodging__informations__hostAndRate__host__picture {
  border-radius: 50%;
  width: 64px;
}
.lodging__informations__hostAndRate__host__picture img {
  border-radius: 50%;
  width: 64px;
}
.lodging__collapses {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media all and (max-width: 768px) {
  .lodging__collapses {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.lodging__collapses__collapse {
  width: 48%;
}
@media all and (max-width: 768px) {
  .lodging__collapses__collapse {
    width: 100%;
  }
}
.lodging__collapses__collapse p {
  margin: 0;
  padding: 5px;
}

.rating {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .rating {
    width: 40%;
  }
}
.rating__coloredStar {
  padding-right: 10px;
}
@media all and (max-width: 768px) {
  .rating__coloredStar img {
    width: 100%;
  }
}
.rating__greyStar {
  padding-right: 10px;
}
@media all and (max-width: 768px) {
  .rating__greyStar img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
